.side-bar
  .side-bar__side-header
    .side-bar__side-header__box
      %p.side-bar__side-header__box__user-name
        = current_user.name
      %ul.side-bar__side-header__box__menu
        = link_to new_group_path, class: "side-bar__side-header__box__menu__btn" do
          = icon('far', 'edit', class: "side-bar__side-header__box__menu__btn--new")
        = link_to edit_user_path(current_user.id), class: "side-bar__side-header__box__menu__btn" do
          = icon('fas', 'cog', class: "side-bar__side-header__box__menu__btn--edit")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "link" do
          .group-name
            = group.name
          .latest-message
            = group.show_last_message